/*!
 * Lush Content Slider - LESS Main Stylesheet
 * ======================================================= */
/* ================================
  * Lush Container
  * ================================*/
.lush-slider {
  position: relative;
  list-style-type: none;
  padding: 0;
  *zoom: 1;
}
.lush-slider:before,
.lush-slider:after {
  content: "";
  display: table;
}
.lush-slider:after {
  clear: both;
}
.lush-slider:before,
.lush-slider:after {
  display: table;
  content: "";
  line-height: 0;
}
.lush-slider:after {
  clear: both;
}
.lush-slider > li,
.lush-slider .lush {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
.lush {
  overflow: hidden;
  position: relative;
}
.lush img {
  border: none;
}
.lush a img {
  max-width: 100%;
}
.lush * {
  white-space: nowrap;
  margin: 0;
}
.flexslider .slides img {
  width: auto !important;
  max-width: none;
}
.flexslider .slides img:first-child {
  width: 100% !important;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/* ================================
  * Lush Navigation Controls
  * ================================*/
.lush-nav {
  position: absolute;
  display: block !important;
  bottom: 20px;
  font-size: 0;
  white-space: nowrap;
  background-color: transparent;
  width: auto;
  float: none;
  zoom: 1;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transition: opacity 0.2s linear 0;
  -moz-transition: opacity 0.2s linear 0s;
  -o-transition: opacity 0.2s linear 0;
  transition: opacity 0.2s linear 0;
}
.lush-nav:hover {
  zoom: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 0.2s linear 0;
  -moz-transition: opacity 0.2s linear 0s;
  -o-transition: opacity 0.2s linear 0;
  transition: opacity 0.2s linear 0;
}
.lush-nav a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 40px;
  height: 42px;
  text-shadow: none !important;
}
.lush-nav a:focus {
  outline: none;
}
.lush-nav .lush-page {
  background-position: -40px 0;
}
.lush-nav .lush-page:hover,
.lush-nav .lush-page.current {
  background-position: -40px -42px;
}
.lush-nav .lush-prev {
  background-position: 0 0;
}
.lush-nav .lush-prev:hover {
  background-position: 0 -42px;
}
.lush-nav .lush-next {
  background-position: -80px 0;
}
.lush-nav .lush-next:hover {
  background-position: -80px -42px;
}
/* ================================
 * Skin White default
 * ================================*/
.lush-slider {
  padding: 15px;
  border: 1px solid #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
}
.lush-slider .lush-nav {
  /* required to align bottom */

  line-height: 0;
}
.lush-slider .lush-nav a {
  background-image: url('../skin/lush-skin.png');
}
/* ================================
  * Slider shadows
  * ================================*/
.lush-shadow {
  display: block !important;
  /* alway force to show shadow. Disable from plugin options. */

  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  bottom: 0;
  height: 30px;
  margin-bottom: -30px;
  position: absolute;
  width: 100%;
}
.shadow-a .lush-shadow {
  background-image: url('../img/shadow-a.png');
}
.shadow-b .lush-shadow {
  background-image: url('../img/shadow-b.png');
}
.shadow-c .lush-shadow {
  background-image: url('../img/shadow-c.png');
}
.shadow-d .lush-shadow {
  background-image: url('../img/shadow-d.png');
}
.no-shadow .lush-shadow {
  display: none;
}
